html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: #111111;
    font-family: 'CharriotDeluxe';
    color: #0f0;
    font-size: 14px;
    background: url(../img/terrain.png) repeat repeat;
}

.info-label {
    display: block;
    position: absolute;
    left: 20px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

#info-dsp {
    top: 20px;
}

#info-mixer {
    top: 40px;
}

#info-emitter {
    top: 80px;
}

#info-listener {
    top: 100px;
}

#canvas {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/asphalt.jpg) center center repeat no-repeat transparent;
}
